<!-- course/templates/course/course_list.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Course List</title>
    </head>
    <body>
        <h1>Courses</h1>
        <table>
            <tr>
                <th>Course Title </th>
                <th> Course category</th>
                <th>Action</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>{{ course.category }}</td>
                    <td>
                        {% if user.is_teacher or user.is_superuser%}
                            <a href="{% url 'course_update' course.pk %}">Edit</a> 
                            <a href="{% url 'course_delete' course.pk %}">Delete</a>
                        {% endif %}
                    
                     {% if user.is_student %}
                        <a href="{% url 'enroll_course' course.pk%}">Enroll</a>
                    {% endif %}
                    </td>
                </tr>
            
            {% endfor %}
      
    </body>
</html>
