<!-- course_app/templates/course_app/course_confirm_delete.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Delete Assignmnet</title>
    </head>
    <body>
        <h1>Delete Assignmnet</h1>
        <p>
            Are you sure you want to delete the Assignment
            "{{assignment.title}}"?
        </p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirm Delete</button>
        </form>
        <a href="{% url 'assignment_list' %}">Cancel</a>
    </body>
</html>
